<div id="nav">
    <div id="nav-content">
        <div id="nav-left">
            <div class="nav-items" style="font-size: 30px;">MyPage</div>
        </div>
        <div id="nav-right">
            <div *ngIf="this.isLoggedIn" style="margin-right: 10px; color: black;">{{this.email}}</div>
            <div *ngIf="!loggedIn()" class="nav-items" (click)="login()">Login</div>
            <div *ngIf="loggedIn()"class="nav-items" (click)="logout()">Logout</div>
        </div>
    </div>
</div>

<router-outlet></router-outlet>
<!-- <app-profile [show]="loggedIn()"></app-profile> -->
