<div class="user-container">
    <h2 style="margin: auto"> User Details</h2>
    <table class="table">
      <thead>
        <tr>
            <th>Id</th>
            <th>UserName</th>
            <th>Email</th>
            <th>Roles</th>
        </tr>
      </thead>
      <tbody>
      <tr *ngFor="let user of users; let i=index">
            <td>{{user.uid}}</td>
            <td>{{user.username}}</td>
            <td>{{user.email}}</td>
            <td *ngFor="let r of user.roles">{{r.name}}</td>
            <td *ngFor="let r of user.roles">
                <button *ngIf="r.name !== 'ROLE_ADMIN'" mat-raised-button color="warn" (click)="openDialog('Delete', user)">Delete</button>
                <button mat-raised-button color="primary" style="margin-left: 20px;" (click)="openDialog('Update', user)"> Edit</button>
            </td>
        </tr>
      </tbody>
    </table>
  </div>
  